---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
      <loc>{{ metadata.url }}{{ page.url }}</loc>
      {% if page.date %}
        <lastmod>{{ page.date | isoDate }}</lastmod>
      {% endif %}
    </url>
  {% endfor %}
</urlset>